<!DOCTYPE div PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">JOB POSTJOB</h3>
                    </div>
                    {{error.message}}
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Job Title" ng-model="job.title">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Enter Job Description" ng-model="job.description"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Years Of Experience" ng-model="job.experience">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Qualification" ng-model="job.qualification">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Salary" ng-model="job.salary">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Location" ng-model="job.location">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter CompanyName" ng-model="job.companyname">
                            </div>

                            <button class="btn btn-primary" type="submit" ng-click="saveJob()">POSTJOB</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>