<head>
        <link rel="stylesheet" href="contactus.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


            <div class="col-xs-4 col-xs-4">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
      
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                                <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span>
                                </span>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Mobile No.</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span>
                                </span>
                                <input type="phone" class="form-control" id="phone" placeholder="Enter your phone no." required="required" /></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            <button type="submit" class="btn btn-warning pull-right">Send <span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our Location</legend>
            <address>
                122 ,21st main road,
                annanagar west,<br>
                , chennai- 6000028<br>
                <abbr title="Phone">
                    Phone</abbr>
                (+91) 9312 690 490
            </address>
            <address>
                Email: <a href="mailto:#">info@cr7@gmail.com</a>
            </address>
            </form>
        </div>
    </div>
</div>

