<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 
     <link rel="stylesheet" href="fileinput.css" media="all"></link>
     <link href="theme.css" media="all" rel="stylesheet" type="text/css"/>
     
      <script src="fileinput.js" type="text/javascript"></script>
      <script src="theme.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
<title>Insert title here</title>
</head>
<body>

<div class="container kv-main">
           <div class="form-group">
            <input class="file" type="file" 
            name="image"
            data-preview-file-type="any" 
            data-upload-url="http://localhost:8007/praveensolutions/uploadprofilepic">
        </div>  
        </div>
       
</body>
</html>