
<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br>
            <br>
            <h2 style="color:red;">Blogpost "{{blogPost.blogtitle}}" is </h2>

            <span style="font-size:20px;color:black;" ng-if="blogPost.approved">APPROVED</span>
            <span style="font-size:20px;color:black;" ng-if="!blogPost.approved">REJECTED</span>
                 
                <br>
                <br>
        </div>

    </div>
</div>